/**Eigene Schriftart einbinden*/
@font-face {
    font-family: 'RetroGaming';
    src: url("../fonts/RetroGaming.ttf") format('truetype');

}

body{
    font-family: 'RetroGaming', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

