/**CSS-Klasse zum Stylen der HTML-Seite*/
body{
    position: relative;
    /*Inhalt zentrieren*/
    display: flex;
    /*Vertikal zentrieren*/
    align-items: center;
    /*Horizontal zentrieren*/
    justify-content: center;
    /*Festlegen der Hoehe auf die gesamte Viewport-Hoehe*/
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

