/**Eigene Schriftart einbinden*/
@font-face {
    font-family: 'RetroGaming';
    src: url("../fonts/RetroGaming.ttf") format('truetype');

}

body{
    font-family: 'RetroGaming', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

/*****Start-Button stylen****/
#startButton{
    /**Layout*/
    width: 170px;
    height: 50px;

    /**Textstyle*/
    font-family: 'RetroGaming', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    background-color: #FD3636;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 10px black;

}

#startButton:hover{
    cursor: pointer;

}


.centerContainer{

}

/**Buttons links anordnen: Start-Szene*/
.leftContainer{
    top: 25%;
    left: 25%;
    transform: translateY(-50%);
}
/**Buttons rechts anordnen: Start-Szene*/
.rightContainer{
    top: 25%;
    right: 25%;
    transform: translateY(-50%);
}
